.details{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 10px;
align-items: center;

}

.details_image{
    width: 200px;
    height: 200px;
}

.paragraph{
    line-height:2;
    width: 70%;
}

.sports_details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 10px;
    align-items: center;

    margin: 200px 0px 0px 0px;
}