.ads{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: inherit;
    border: solid 1px ;
    height: auto;
    
}



.ad_container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    min-height: 100px;
border: 1px solid;}

.ad_container> h1{ 
    margin-bottom: 0;
    font-size:20px;
}