.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials_title {
  border: solid 2px;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  z-index: 2;
  background-color:white;
}

.socials_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height:150px;
  border-radius: 5px;

  margin: 20px;
  z-index: 1;
padding: 5px;
  border: solid 2px;
}

.social_icon:hover{
cursor: pointer;
transform: scale(1.2);
color: brown;
transition: 300ms ease-in-out;
}
